{% if paginator.total_pages > 1 %}
<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Previous</a>
  {% else %}
    <span class="pagination  pagination--previous" style="visibility: hidden">&larr; Previous</span>
  {% endif %}

  {% if paginator.previous_page and paginator.next_page %}
    <span class="pagination  pagination--counter">&middot;</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">Next &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next" style="visibility: hidden">Next &rarr;</span>
  {% endif %}

</nav>
{% endif %}
