// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Mobile scales raised to match desktop; desktop unchanged
  scale-0: (
    alpha:   32.0,
    beta:    28.0,
    gamma:   19.0,
    delta:   17.0,
    epsilon: 15.5,
    zeta:    15.5,
    eta:     13.5,
    theta:   12.8,
    iota:    10.8
  ),
  scale-1: (
    alpha:   32.0,
    beta:    28.0,
    gamma:   19.0,
    delta:   17.0,
    epsilon: 15.5,
    zeta:    15.5,
    eta:     13.5,
    theta:   12.8,
    iota:    10.8
  ),
  scale-2: (
    alpha:   34.0,
    beta:    28.0,
    gamma:   19.5,
    delta:   17.5,
    epsilon: 15.5,
    zeta:    15.5,
    eta:     13.5,
    theta:   12.8,
    iota:    10.8
  ),
  scale-3: (
    alpha:   36.0,
    beta:    28.0,
    gamma:   20.0,
    delta:   18.0,
    epsilon: 16.0,
    zeta:    15.5,
    eta:     13.5,
    theta:   12.8,
    iota:    10.8
  ),
  scale-4: (
    alpha:   40.0,
    beta:    30.0,
    gamma:   21.0,
    delta:   19.0,
    epsilon: 16.5,
    zeta:    17.0,
    eta:     14.0,
    theta:   13.4,
    iota:    10.8
  )
);
